

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

figure{
    border: solid 5px rgb(255, 255, 255);
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    font-family:'Inconsolata', monospace; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
    width: 100%;
   
    
   
}



 