@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");

nav {
  @media (max-width: 600px) {
  }

  & ul {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
  }

  & li {
    list-style-type: none;
    margin-left: 2%;
  }

  a {
    @media (max-width: 600px) {
      font-size: 1.5rem;
    }
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: "Inconsolata", monospace;
    font-size: 2rem;
    border-left: 6px solid rgb(7, 7, 7);
    &:hover {
      background-color: black;
      color: white;
      border: solid 1px black;
      border-radius: 10%;
    }
  }

  .container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    @media (max-width: 600px) {
      height: 50%;
      width: 50%;
    }

    height: 700px;
    width: 700px;
  }
}
