

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

.character {
   
    background-image: url(../../../assets/fotosRick/lunabuena.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
   
   
}